# I am using poetry instead of requirements.txt
# However, github actions setup-python@v3 seems to require this file.
# Don't use it though.
#numpy==2.3.2; platform_machine != 'armv7l'
#numpy==2.2.4; platform_machine == 'armv7l'
#pandas==2.3.2; platform_machine != 'armv7l'
#pandas==2.2.3; platform_machine == 'armv7l'

